

@{


    if (ViewBag.position == "Teacher")
    {
        <a class="list-group-item" href="/giang-vien/trang-chu"><span class="glyphicon glyphicon-th-large"></span>&nbsp;Trang chủ<span class="glyphicon glyphicon-chevron-right arrow-right"></span> </a>
        <a class="list-group-item" href="/giang-vien/thong-tin-ca-nhan"><span class="glyphicon glyphicon-user"></span>&nbsp;Trang cá nhân<span class="glyphicon glyphicon-chevron-right arrow-right"></span></a>
        <a class="list-group-item" href="/giang-vien/danh-sach-hoc-phan"><span class="glyphicon glyphicon-book"></span>&nbsp;Danh sách học phần<span class="glyphicon glyphicon-chevron-right arrow-right"></span></a>
    }
    else if (ViewBag.position == "Student")
    {
        <a class="list-group-item" href="/sinh-vien/trang-chu"><span class="glyphicon glyphicon-th-large"></span>&nbsp;Trang chủ<span class="glyphicon glyphicon-chevron-right arrow-right"></span> </a>
        <a class="list-group-item" href="/sinh-vien/thong-tin-ca-nhan"><span class="glyphicon glyphicon-user"></span>&nbsp;Trang cá nhân<span class="glyphicon glyphicon-chevron-right arrow-right"></span></a>
        <a class="list-group-item" href="/sinh-vien/danh-sach-hoc-phan"><span class="glyphicon glyphicon-book"></span>&nbsp;Khóa học của tôi<span class="glyphicon glyphicon-chevron-right arrow-right"></span></a>
    }
    
}
