
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bootstrap/css")
    <link href="~/Assets/Shared/css/dashboard.css" rel="stylesheet" />
    <title>UET-VNU</title>
    <link href="~/Assets/Shared/images/logo2_new-min.png" rel="icon" />
    <style>
        a.list-group-item:hover {
            color: black;
        }
    </style>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">REVISUB</a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/SignIn/Home/Logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Đăng xuất </a>

                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
        </div>
    </div><!-- end-navbar-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 padding-hori-0 menu-left">
                <div class="list-group">
                    <a  class="list-group-item" href="/quan-ly/trang-chu">
                        <span class="glyphicon glyphicon-home"></span>&nbsp;
                        Trang chủ<span class="glyphicon glyphicon-chevron-right arrow-right"></span>
                    </a>
                    <a class="list-group-item" href="/quan-ly-giang-vien/danh-sach-giang-vien">
                        <span class="glyphicon glyphicon-briefcase"></span>&nbsp;
                        Quản lý giảng viên<span class="glyphicon glyphicon-chevron-right arrow-right"></span>
                    </a>
                    <a class="list-group-item" href="/quan-ly-sinh-vien/danh-sach-sinh-vien">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;
                        Quản lý sinh viên<span class="glyphicon glyphicon-chevron-right arrow-right"></span>
                    </a>
                    <a class="list-group-item" href="/quan-ly-hoc-phan/danh-sach-hoc-phan"><span class="glyphicon glyphicon-book"></span>&nbsp;Quản lý lớp học phần<span class="glyphicon glyphicon-chevron-right arrow-right"></span></a>
                    <a class="list-group-item" href="/quan-ly-danh-gia/danh-sach-tieu-chi">
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;
                        Quản lý phiếu đánh giá<span class="glyphicon glyphicon-chevron-right arrow-right"></span>
                    </a>
                </div>
            </div><!--end-left-menu-->
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 ">
                <div class="content-dashboard">
                    @RenderBody()
                </div>
            </div><!--end-main-dashboard-->
        </div>
    </div><!-- end-body-page-->

    @Scripts.Render("~/bootstrap-jquery/js")
    @RenderSection("scripts", required: false)
</body>
</html>